.contenedorTodoProyecto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contenedorProyectos{
    font-family: Montserrat, sans-serif;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 1px;
}

.tituloProyectos{
    font-size: 2.5em;
    color: #110E19;
}

.tarjetaProyecto{
    display: flex;
    flex-direction: column;
    background-color: #110E19;
    border-radius: 20px;
    height: 250px;
    width: 280px;
    margin: 12px ;
    border: solid 2px;
  }
  
.tarjetaProyecto .tituloProyecto,.liderProyecto,.estadoProyecto,.usuariosProyecto{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.tituloProyecto{
    color: whitesmoke;
    font-size: 20px;
    background-color: #110E19;
    text-align: center;
    width: 100%;
    height: 35px;
    padding-top: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

.estadoProyecto{
    font-size: 14px;
    background-color: #dbe9ee;
    text-align: center;
    padding:2px;
    width: 100%;
    height: 30px;
}  

.liderProyecto{
    font-size: 13px;
    color: thistle;
    background-color: #110E19;
    text-align: center;
    width: 100%;
    height: 30px;
}
.objetivosProyecto{
    font-size: 15px;
    background-color: #30b9fe;
    text-align: center;
    padding:2px;
    width: 100%;
    height: 60px;
}  

.usuariosProyecto{
    background-color: #dbe9ee;
    text-align: center;
    width: 100%;
    height: 100px;
}

.botonesProyecto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 9px;
    transition: all 0.5s ease;
}

.botonesProyecto button{
    padding: 2px 10px 2px 10px;
    border:0px;
    border-radius: 20px;
    background-color: #dbe9ee;
    color: #1d3557;
    transition: all 0.5s ease;
    border:solid 1px transparent;
}

.botonesProyecto button:hover{
    background-color: #4a6fa5;
    color: #dbe9ee;
    border:solid 1px #dbe9ee;
    transition: all 0.5s ease;
    overflow: hidden;
}

.cuadroDialogo{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.textoIncripcion{
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

.opcionesIncripcion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.opcionesIncripcion button{
    border-style: none;
    width: 50px;
    height: 35px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: #110E19;
    margin: 10px;
}

.botonSi{
    background-color: rgba(0, 128, 0, 0.438);
    transition: all 0.5s ease;
}

.botonSi:hover{
    background-color: rgba(0, 128, 0, 0.863);
    transition: all 0.5s ease;
}

.botonNo{
    background-color: rgba(255, 0, 0, 0.418);
    transition: all 0.5s ease;
}

.botonNo:hover{
    background-color: rgba(255, 0, 0, 0.829);
    transition: all 0.5s ease;
}