.tabla {
    font-family: Montserrat, sans-serif;
    width: 98%;
    margin: 10px;
}

.tabla td{
    padding: 5px;
    border: 1px solid #ddd;
}

.tabla th {
    padding: 8px;
    background-color: #110E19;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tabla tr:nth-child(even) {
    background-color: #f2f2f2;
    transition: all 0.5s ease;
}

.tabla tr:hover {
    background-color: #ddd;
    transition: all 0.5s ease;
}

.iconoTabla{
    border-style: none;
    font-size: 30px;
    transition: all 0.5s ease;
  }
  
.iconoTabla:hover{
    font-size: 30px;
    color: #3f587c;
    transition: all 0.5s ease;
}

.aprovarBoton{
    border-style: none;
    background-color: transparent;
}