body{
  background-image: url(./componentes/img/Back1.jpg);
  background-size: cover;
  color: rgb(8, 8, 7);
  font-family: 'Gemunu Libre', sans-serif;
  padding: 0  2.5em;

}

.App {
  text-align: center;
}

.Logo {
  height: 48px;
  width: 48px;
}

.titulo{
  text-align: center;
  font-size: 2.5em;
}