.titulo{
  display: flex;
  text-align: center;
  font-size: xx-large;
}

.Logo {
  height: 32px;
  width: 32px;
}

.imgLink{
  cursor: pointer,
}

.link{
  text-decoration: none;
  color: blue;
  text-align: left;
  font-size: larger;
}

.centrado{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.fondo{
  width: 100vw;
  height: 100vh;
  background-color: #C0D6DF;
  display: block;
}

.contentPage{
  position: absolute;
  width: 100%;
  height: calc(100vh - 60px);
  background-color:transparent;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: all 0.5s ease;
  overflow-y: auto;
  overflow-x: auto;
}

.iconNavbar{
  size: 100px;
  justify-content: center;
  align-items: center;
}

.iconNavbar:hover{
  color: red;
}

.tituloB{
  color: white;
  display: block;
}